@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/media";

.card-list {
  position: relative;
  margin-top: 34px;
  z-index: 9;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @include media('<=desktop') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('<=tablet') {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__navigation {
    padding: 30px 0;
    display: flex;
    justify-content: center;

    &_item {
      @include size(50);
      background: $c-white;
      border-radius: 4px;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $f-roboto;
      font-style: normal;
      font-weight: normal;
      font-size: rem(20);
      line-height: rem(23);
      cursor: pointer;
      transition: $t-normal;

      &:hover {
        transform: scale(1.1);
      }

      &:last-child {
        margin-right: 0;
      }

      &--active {
        color: $c-blue-four;
      }
    }
  }
}
