@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  position: relative;
  z-index: 10;

  &__card {
    width: 100%;
    max-width: 280px;
    background-color: $c-white;
    box-shadow: 0px 2px 16px $c-blue-three;
    border-radius: 6px;
    padding: 10px;
    font-size: rem(20);
    font-style: normal;
    line-height: 24px;
    display: flex;
    cursor: default;

    &_heart {
      width: 25px;
      height: 21.25px;
      overflow: hidden;
      margin-right: 10px;
    }

    &_title {
      font-weight: normal;
    }

    &_subtitle {
      font-style: normal;
      font-weight: bold;
      line-height: rem(24);
    }
  }
}
