<header class="header">
  <div class="header__wrapper wrapper">
    <div class="header__card" #headerCard>
      <!-- Svg Card Heart -->
      <div class="header__card_heart">
        <app-svg-heart></app-svg-heart>
      </div>
      <!-- Header Card Content -->
      <div class="header__card_content">
        <!-- Header Card Title -->
        <div class="header__card_title">
          {{ headerTitle }}
        </div>
        <!-- Header Card Subtitle -->
        <div class="header__card_subtitle">
          {{ headerSubtitle }}
        </div>
      </div>
    </div>
  </div>
</header>
